PORT=3000

#========Database Configurations========
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_SYNCHRONIZE=false
DB_DATABASE=artist_management
AUTO_RUN_MIGRATION=true


#======Backend========
JWT_SECRET_ACCESS=808#accesssecret
JWT_SECRET_REFRESH=808#refreshsecret


#======Frontend=======
VITE_API_BASE_URL="/api"